<div class="container">
  <h2>Form</h2>
  <br>
  <form class="col-md-8">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username">
    </div>
    <br/>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <br/>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password">
    </div>
    <br/>
    <input type="button" value ="Submit"/>
  </form>
</div>
